# This is Git's per-user configuration file.
[user]
	name = Filip Wozniak
	email = filipwu95@gmail.com
[core]
	editor = vim
[color]
	ui = auto
[branch]
	default = main
[advice]
	addIngoredFile = false
[includeIf "gitdir:PATH1"]
	path = /home/Filip/.config/git/.gitconfig-configs
[includeIf "gitdir:PATH2"]
        path = /home/Filip/.config/git/.gitconfig-lab




