[user]
	name = Filip Wozniak
	email = filipwu95@gmail.com
[core]
	editor = vim
[color]
	ui = auto
[branch]
	default = main
[advice]
	addIngoredFile = false
[includeIf "gitdir:/data/configs_and_scripts/"]
    path = "/home/Filip/.config/git/.gitconfig-configs"
[includeIf "gitdir:/home/Filip/.password-store/"]
    path = "/home/Filip/.config/git/.gitconfig-git-pass"
[includeIf "gitdir:/data/k3s+flux/"]
    path = "/home/Filip/.config/git/.gitconfig-k3s+flux"
[includeIf "gitdir:/data/lab/"]
    path = "/home/Filip/.config/git/.gitconfig-lab"
[includeIf "gitdir:/data/dotfiles/"]
    path = "/home/Filip/.config/git/.gitconfig-dotfiles"
