# This is Git's per-user configuration file.
[user]
	name = Filip Wozniak
	email = filipwu95@gmail.com
[core]
	editor = vim
[color]
	ui = auto
[branch]
	default = main
[advice]
	addIngoredFile = false
[includeIf "gitdir:/data/ubuntu-server-configs/"]
	path = /home/Filip/.config/git/.gitconfig-ubuntu
